<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css"

    integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <title>Document</title>
</head>
<body>
 
    <table class="table" id="filterTable" style="background-color: white; width:90%;">
      
              <tr>
                  <th>TARİH-SAAT</th> 
                 
                  <th>ID</th>
                  <th>TEMP</th>   
                  <th>HUM</th>
                  <th> RXRSSI</th>
                  <th>TXRSSI</th>
                  <th> BATTERY</th>
                  
              </tr>
            
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>



              </tr>
    </table>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>